<nav class="navbar">

    <div class="logo">

        <a routerLink="/">

            <img
                src="assets/images/logo.png"
                alt="Siddhavetha Logo">

        </a>

    </div>

    <ul class="nav-links">

        <li>
            <a routerLink="/consumer-wellness">
                Shop
            </a>
        </li>

        <li>
            <a routerLink="/retreats">
                Retreats
            </a>
        </li>

        <li>
            <a routerLink="/science">
                The Science
            </a>
        </li>

        <li>
            <a routerLink="/digital">
                Digital
            </a>
        </li>

        <li>
            <a routerLink="/about">
                Our Story
            </a>
        </li>

        <li>
            <a routerLink="/partner">
                Partner
            </a>
        </li>

    </ul>

    <div class="nav-buttons">

        <button class="shop-btn">
            Shop Now
        </button>

        <button class="retreat-btn">
            Book a Retreat
        </button>

    </div>

</nav>