<nav class="navbar">

    <!-- LOGO -->

    <a routerLink="/home" class="logo">

        <img
            src="assets/images/logo/logo.png"
            alt="Siddhavetha Logo">

        <div class="logo-text">

            <span class="company-name">
                SIDDHAVETHA
            </span>

            <span class="company-tagline">
                GLOBAL INNOVATIONS
            </span>

        </div>

    </a>

    <!-- NAVIGATION -->

    <ul class="nav-links">

        <li>
            <a routerLink="/consumer-wellness" routerLinkActive="active">
                Shop
            </a>
        </li>

        <li>
            <a routerLink="/retreats" routerLinkActive="active">
                Retreats
            </a>
        </li>

        <li>
            <a routerLink="/The-Science" routerLinkActive="active">
                The Science
            </a>
        </li>

        <li>
            <a routerLink="/digital" routerLinkActive="active">
                Digital
            </a>
        </li>

        <li>
            <a routerLink="/about" routerLinkActive="active">
                Our Story
            </a>
        </li>

        <li>
            <a routerLink="/partner" routerLinkActive="active">
                Partner
            </a>
        </li>

    </ul>

    <!-- BUTTONS -->

    <div class="nav-buttons">

        <app-button
            label="Shop Now"
            variant="primary">
        </app-button>

        <app-button
            label="Book a Retreat"
            variant="outline">
        </app-button>

    </div>

</nav>