<aside class="sidebar">

    <div class="menu-section">

        <p class="menu-title">MAIN</p>

        <a routerLink="/home" routerLinkActive="active">
            01 · Home
        </a>

    </div>

    <div class="menu-section">

        <p class="menu-title">SHOP</p>

        <a routerLink="/consumer-wellness" routerLinkActive="active">
            02 · Consumer Wellness
        </a>

        <a routerLink="/personal-care" routerLinkActive="active">
            03 · Personal Care & Beauty
        </a>

        <a routerLink="/sustainable-living" routerLinkActive="active">
            04 · Sustainable Living
        </a>

    </div>

    <div class="menu-section">

        <p class="menu-title">EXPERIENCE</p>

        <a routerLink="/retreats" routerLinkActive="active">
            05 · Retreats & Experiences
        </a>

        <a routerLink="/tourism" routerLinkActive="active">
            06 · Wellness Tourism
        </a>

    </div>

    <div class="menu-section">

        <p class="menu-title">INSTITUTIONS</p>

        <a routerLink="/The-Science" routerLinkActive="active">
            07 · The Science (Research & IP)
        </a>

        <a routerLink="/agriculture" routerLinkActive="active">
            08 · Agriculture & Raw Materials
        </a>

        <a routerLink="/preventive-healthcare" routerLinkActive="active">
            09 · Preventive Healthcare
        </a>

        <a routerLink="/digital" routerLinkActive="active">
            10 · Digital
        </a>

    </div>

    <div class="menu-section">

        <p class="menu-title">COMPANY</p>

        <a routerLink="/our-story" routerLinkActive="active">
            11 · Our Story / The Campus
        </a>

        <a routerLink="/partner-invest" routerLinkActive="active">
            12 · Partner / Invest
        </a>

    </div>

</aside>